
/***************************************
 MISC
 ***************************************/
body {
	font-family: Arvo, Georgia, Times, serif;
	font-size: 100%;
	margin:0; padding: 0;
}

::selection {
	background: #333; /* Safari */
	color: #fff;
}
::-moz-selection {
	background: #333; /* Firefox */
	color: #fff;
}

.bottom {
	position: absolute;
	bottom: 0;
}

/***************************************
 STYLE
 ***************************************/
#main {
	margin: 0; padding: 0;
}
h1, h2, h3, .background, #footer {
	font-family: 'Arvo', serif;
}

	#intro, #content, #footer, .wrapper {
		padding-left: 10%;
		padding-right: 10%;
	}
	/* Fancy-pants bakgrund som används i intro och footer */
	.background {
		background: #2C424D url('../img/noise.png') repeat;
		margin: 0; padding: 100px 10% 0;
		color: #fff;
	}
		.background a {
			color: #B5995B;
			-webkit-transition: color 0.3s ease-in-out;
			-moz-transition: color 0.3s ease-in-out;
			-ms-transition: color 0.3s ease-in-out;
			-o-transition: color 0.3s ease-in-out;
		}
			.background a:hover {
				color: #CCB48B;
				text-decoration: none;
			}

	/* INTRO */
	#intro {
		min-height: 560px;
		font-size: 270%;
		line-height: 120%;
		text-shadow: rgba(0, 0, 0, .3) 2px 2px 2px;
		position: relative;
	}
		#intro p {
			margin-bottom: 30px;
		}
		#intro #continue {
			background-color: #fff;
			color: #000;
			margin: 0; padding: 10px;
			text-shadow: #fff 0 0 0;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.1em;
		}

	/* CONTENT */
	#content {
		padding: 30px 10%;
		font-size: 110%;
	}
		#content p {
			margin: 0 0 20px;
		}
		#content a, #footer a {
			color: #2C424D;
			border-bottom: 1px dotted #081D31;
		}
		#content a:hover, #footer a:hover {
			text-decoration: none;
			border-bottom: 1px solid #081D31;
		}
		#content i {
			vertical-align: middle;
		}

	/* FOOTER */
	#footer {
		padding: 20px 10% 0;
		font-size: 80%;
	}

/***************************************
 MOBILE
 ***************************************/
@media only screen and (max-width: 480px) {
	#intro{
		font-size: 150%;
		margin: 0; padding: 30px 10% 15px;
		min-height: 0;
	}
}
