/* reset5 © 2011 opensource.736cs.com MIT */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0;padding:0;}input,select,a img{vertical-align:middle;}


/* klasse */
body {
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	color: #fff;
}

::selection {
	background: #333; /* Safari */
	}
::-moz-selection {
	background: #333; /* Firefox */
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
}

#klasse {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

header {
	clear: both;
	width: 50%;
	margin: 30% 0 0 40%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	text-shadow: 1px 1px 20px rgba(0,0,0,0.8);
}

h1 {
	font: 250% Anaheim, sans-serif;
	border-bottom: 2px solid #eee;
	margin: 0 0 20px;
	line-height: 100%;
}

p {
	font: 1.3em Strait, sans-serif;
	margin: 0 0 20px;
}

a {
	color: rgb(213, 213, 213);
	text-decoration: none;
	border-bottom: 2px dotted #ccc;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

	a:hover {
		border-style: solid;
		border-color: #fff;
		color: #fff;
	}

@media only screen and (max-width: 480px) {
	header {
		width: 80%;
		padding: 0 10%;
		margin: 10% auto;
		text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
	}
	body {
		color: #000;
		height: 600px;
	}
	a {
		color: #333;
		text-decoration: none;
		border-bottom: 1px dashed #ccc;
		text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
	}

		a:hover {
			border-style: solid;
			color: #000;
		}
}
